# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/corgi

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/.vscode/

# Ingonore -for now- vendor
/go.sum
/vendor/
